div {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;

}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

section:hello {
  color: #fff;
  text-decoration: underline;
}

div {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;

}
